<!--
  Generated template for the Children page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Children</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ng-container *ngFor="let child of children">
            <ion-list-header (click)="toggleExpand(child)">
                <ion-icon name="arrow-dropright" item-left [hidden]="child.expanded"></ion-icon>
                <ion-icon name="arrow-dropdown" item-left [hidden]="!child.expanded"></ion-icon>
                <h2>{{child.name}}</h2>
                <h3>{{getAge(child.dob)}}</h3>
            </ion-list-header>
            <ng-container *ngIf="child.expanded">
                <button ion-item (click)="goToEntity(child, 'diapers')">
                    <ion-icon name="egg" item-left></ion-icon>
                    Diapers
                    <ion-note item-right>
                        {{getEntityState(child, 'diapers')}}
                    </ion-note>
                </button>
                <button ion-item (click)="goToEntity(child, 'formula')">
                    <ion-icon name="water" item-left></ion-icon>
                    Formula
                    <ion-note item-right>
                        {{getEntityState(child, 'formula')}}
                    </ion-note>
                </button>
                <button ion-item (click)="goToEntity(child, 'clothes')">
                    <ion-icon name="shirt" item-left></ion-icon>
                    Clothes
                    <ion-note item-right>
                        {{getEntityState(child, 'clothes')}}
                    </ion-note>
                </button>
            </ng-container>
        </ng-container>
    </ion-list>
    <ion-fab top right edge>
        <button ion-fab color="secondary" (click)="addChild()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
